<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Store Index</title>
		<h1>Store</h1>
		<a href="/store/new/">New Product</a>
	</head>
	<body>
		<ul>
			<% products.forEach(product => { %>
				<li>
				<%=product.name%>
				<a href="/store/<%=product._id%>"><img src="<%=product.img%>"/></a>
				<!-- Delete Button (Not functional yet) -->
				<!-- <form action="/store/<%=product._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
					</form> -->
				</li>
		<% }) %>
			</ul>
	</body>
</html>
