<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <form action="/store/" method="POST">
        Image:
        <input type="text" name="img" Placeholder="URL" /><br />
        Name:
        <input type="text" name="name" Placeholder="Name" /><br />
        Description:
        <input type="text" name="description" placeholder="Description" /><br />
        Price:
        <input type="text" name="price" placeholder="Price" /><br />
        Quantity:
        <input type="text" name="qty" placeholder="Quantity" /><br />
        <input type="submit" name="" value="Add New Product" />
    </form>
</body>
</html>